<html>
  <body style="background-color:rgb(221, 8, 92)">
    <h1>You Karate Chopskied <%= $game.current_player.name%></h1>
    <br>
    <h2>Player 1: <%=$game.player_1.name%>: HP: <%=$game.player_1.hp%> </h2>
    <br>
    <h2>Player 2: <%=$game.player_2.name%>: HP: <%=$game.player_2.hp%> </h2>
    <br>
    <form action="/attack" method="get">
      <div class="button">
        <button type="submit">Karate Chopskies!</button>
      </div>
    </form>

  </body>
</html>
